/* 1st page */

#first-page {
	width: 100%;
	height: 768px;
	background-color: red;
	margin-top: -20px; 
}

/* 2nd page */

#second-page {
	width: 100%;
	height: 768px;
	background-color: green;
	margin-top: -20px;
}


/* 3rd page */

#third-page {
	width: 100%;
	height: 768px;
	background-color: blue;
	margin-top: -20px;
}

/* 4th page */

#fourth-page {
	width: 100%;
	height: 768px;
	background-color: yellow;
	margin-top: -20px;
}

/* 5th page */

#fifth-page {
	width: 100%;
	height: 768px;
	background-color: gray;
	margin-top: -20px;
}

